.error {
    color:#721c24; 
    background:#f8d7da; 
    padding:10px; 
    border-radius:8px; 
    margin:12px 0;
}

.message {
    color:#1c7267; 
    background:#d7f8dc; 
    padding:10px; 
    border-radius:8px; 
    margin:12px 0;
}