a, label {
    font-size: large;
}

h2 {
    font-size: x-large;
}

body {
    text-align: center;
}

.display, form {
    padding: 10px;
}

table {
    display: flex;
    justify-content: center;
    text-align: left;
}

table th {
    text-align: center;
}

table td {
    padding: 5px;
    border-style: double;
    border-color: #ebcdb1;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}

h1 a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
ul li {
    float: left;
}
  
ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul li a:hover {
    background-color: rgb(236 223 207);
    border-radius: 8px;
}

Search {
    margin: 20px;
}

input, select {
    margin: 5px;
    padding: 5px;
}

.display label, .display, .books_num {
    margin: 10px;
}

.book_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
.error {
    color:#721c24; 
    background-color:#f8d7da; 
    padding:10px; 
    border-radius:8px; 
    margin:12px 0;
}

.message {
    color:#1c7267; 
    background-color:#d7f8dc; 
    padding:10px; 
    border-radius:8px; 
    margin:12px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.current_page {
    background-color: bisque;
    border-radius: 8px;
}

.disabled a {
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
  }